# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PORTAL_CONFIGURATION_ID=bpc_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000
DATABASE_URL=
CRON_SECRET=
RESEND_API_KEY=
RESEND_FROM=
RESEND_REPLY_TO=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_BING_SITE_VERIFICATION=

# Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
